<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>WebProject2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
   <servlet>
<servlet-name>S1234</servlet-name>
<servlet-class>com.org.redirect.MySearch</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>S1234</servlet-name>
<url-pattern>/mysearch</url-pattern>
</servlet-mapping>

  <servlet>
<servlet-name>S12</servlet-name>
<servlet-class>com.org.request.Servlet1</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>S12</servlet-name>
<url-pattern>/display</url-pattern>
</servlet-mapping>

  <servlet>
<servlet-name>S123</servlet-name>
<servlet-class>com.org.request.Servlet2</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>S123</servlet-name>
<url-pattern>/Display1</url-pattern>
</servlet-mapping>
</web-app>